<% if !@found %>
  <% if @invitation.guest_id == nil %>
    <li><%= @invitation.guest_email %></li>
  <% else %>
    <li><%= @invitation.guest.full_name %></li>
  <% end %>
<% else %>
  <div class="notice"></ul><h5>You can only invite a guest once.</h5></div>
<% end %>