<html>
  <body>
    <section class="homepage">
      <h1>Welcome to ShindigIt!</h1>
      <h2>Can you dig it?</h2>

      <h3><%= link_to "Sign in to check out your events or invites", new_user_session_path %></h3>
      <h4> Don't have an account? <%= link_to "Sign Up", new_user_registration_path %></h4>
    </section>
  </body>
</html>