.new-event{
  width: 450px;
  height: 515px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 25px;
}

.new-event input[type=text]{
  border: 1px solid #FFFFFF;
  padding: 5px;width: 200px;
}

.new-event input[type=date]{
  border: 1px solid #FFFFFF;
  height: 30px;
  padding: 5px;width: 200px;
}

.new-event input[type=time]{
  border: 1px solid #FFFFFF;
  height: 28px;
  padding: 5px;width: 200px;
}

.event-btn{
  
}

.event{
  width: 850px;
  height: 600px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 25px;
  overflow: scroll;
}

.event-details{
  text-align: center;
  margin: auto;
}

p.oblique{
  font-style: oblique;
  text-align: center;
  display: inline;
}

.event-guest-list{
  display: inline-block;
  float: left;
  width: 50%;
  height: 600px;
  overflow: scroll;
}

.event-menu{
  display: inline-block;
  float: left;
  width: 50%;
  height: 600px;
  overflow: scroll;
}

.invite-form{
  border:solid 1px;
  width: 500px;
  height: 600px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 25px;
}

.header-right{
  width: 400px;
  height: 50px;
  top: 0px;
  right: 0px;
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255,0.75);
}

.invite-list{
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 500px;
}

.invitations{
  text-align: center;
}

.invite-font{
  font-weight: 800;
  font-size: 200%;
}

.event-links{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.menu-li{
  text-align: center;
  font-weight: 800;
}











