/*used on event new*/
.signup{
  width: 450px;
  height: 475px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.new-event{
  width: 450px;
  height: 475px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


