.homepage{
  width: 450px;
  height:225px;
  background-color: rgba(255,255,255,0.65);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.login{
  width: 450px;
  height:420px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.signup{
  width: 450px;
  height: 475px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.forgot{
  width: 450px;
  height: 220px;
  background-color: rgba(255,255,255,0.75);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.wrapper{
  clear: both;
  width: 750px;
  vertical-align: middle;
  float: left;
  margin: 2%;
}

.details{
  display: block;
  width: 100%;
  background: #FFF;
  margin-right: 2%;
  margin-left: 2%;
  padding: 10px;
}

.col_right{
  width: 46%;
  float: right;
  display: inline-block;
  border: 1px ;
  background: #FFF;
  margin: 2%;
  padding: 5px;
  height: 500px;
}

.col_left{
  width: 46%;
  float: left;
  display: inline-block;
  background: #FFF;
  margin: 2%;
  padding: 5px;
  height: 500px;
}

footer{
  margin-top: 25px;
  background: #FFF;
  display: block;
  float: left;
  width: 100%;
  margin: 2%;
  text-align: center;
}